.switch {
  all: unset;
  position: relative;
  display: inline-block;
  color: currentColor;
  border-radius: 50%;
  border: 1px dashed currentColor;
  cursor: pointer;
  --size: 24px;
  height: var(--size);
  width: var(--size);
  transition: all 0.3s ease-in-out 0s !important;
}

[data-mode='system'] .switch::after {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: calc(var(--size) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
  content: 'A';
}

[data-mode='light'] .switch {
  border: 1px solid transparent;
  background-image: url('/assets/icons/sun.svg');
}

[data-mode='dark'] .switch {
  border: 1px solid transparent;
  background-color: whitesmoke; /* 스트로크 색상 */
  -webkit-mask: url('/assets/icons/moon.svg') center/contain no-repeat;
  mask: url('/assets/icons/moon.svg') center/contain no-repeat;
  animation: n linear 0.5s;
}

@keyframes n {
  40% {
    transform: rotate(-7deg);
  }
  80% {
    transform: rotate(8deg);
  }
  0%,
  100% {
    transform: rotate(0deg);
  }
}
